@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: Cairo;
  src: url("./fonts/Cairo.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Cairo, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}